@import '../../assets/styles/global.scss';

.character-container{
    display: flex;
    justify-content:center;
    flex-direction:column;

    @include breakpoint(medium){
        flex-direction: row;
    }
}

.img-content{
    display: flex;
    align-items: stretch;
    flex-direction: row;

    img{
        border-radius: 20px;
        width: 180px;
    }
}

.character-content{
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    h3{
        font-size: 30px;
        margin-bottom: 10px;
    }

    p{
        color: #8790AF;
    }

    @include breakpoint(medium){
        width: 60%;
    margin-left: 60px;
    }
}