@import '../../assets/styles/global.scss';

button{
    min-width: 180px;
    min-height: 40px;
    border-radius: 50px;
    border-color: transparent;
    cursor: pointer;
}

.red{
    background-color: $second-color;
}

.blue{
    background-color: $first-color;
}

.red:hover, .blue:hover{
    filter: brightness(1.2);
}