@import '../../assets/styles/global.scss';

.subtitle{
    font-size: 30px;
    margin-left: 80px;

    @include breakpoint(extra-small){
        font-size: 24px;
        margin-left: 0;
    }
}

.charTitle{
    text-align: center;
    margin-top: 80px;

    p{
        font-size: 25px;
    }
}