
.items-content{
 display: flex;
 width: 100%;   
}

.container-items{
    padding: 0 200px;
    width: 50%;
}

.container-img{
    width: 50%;
    display: flex;
    align-items: center;

    img{
        width: 200px;
    }
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

    li{
        color: #8790AF;
    }
}

.item-description{
    margin: 50px 0;
}