@import '../../assets/styles/global.scss';

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;    
    padding: 0 20px;

    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li{
            margin-right: 0;
            margin-bottom: 20px;
            position: relative;   
            cursor: pointer;

            @include breakpoint(extra-small){
                margin-bottom: 0;
                margin-right: 20px;
            }
            
        }

        .active{
            color: #ffff;
            
        }

        .active::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #A72122;
            bottom: -26px;
            z-index: 9;
            left: 0
            
        }
    }

    @include breakpoint(extra-small){
        flex-direction: row;
    }
}