@import '../../assets/styles/global.scss';

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;    
    padding: 0 20px;

    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li{
            margin-right: 20px;
        }
    }
}