@import 'abstract/_variables.scss';

@import 'abstract/breakpoints';

body{
    margin: 0;
    padding:0;
}

body, button, a, p{
    background-color: $background-page;
    font-family: $font-page;
    color: $font-color;
    font-size: $global-font-size;
    font-weight: 400;    
}

h1, h2, h3, h4, h5{
    font-family: $title-page;
    margin: 0;
}

p{
    margin: 0;
}

h1{
    font-size: 70px;

    @include breakpoint(extra-small){
        font-size: 48px;
    }
}

.characterTitle{
    font-size: 25px;
    margin: 50px 0;
    text-align: center;
}

//Divisor

.line::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: $auxiliar-color;
    position: absolute;
    bottom: -15px;
    
}

.line{
    width: 100%;
    position: relative;
}

//Margins and Paddings

.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: 100px;
}

//inputs

.default-input{
    background-color: #141E40;
    color: #6572A0;
    border-radius: 16px;
    border: transparent;
    height: 35px;
    width: 250px;
    padding: 0 30px 0 15px;

}

select{
      /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  position: relative;

}

.select{
    position: relative;
}

.select::after{
content: '\25BC';
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  pointer-events: none;
}

input::placeholder{
    color: #6572A0!important;
}