//Default colors

$first-color: #0A0F20;
$second-color: #A72122;
$third-color: #141E40;
$fourth-color: #89C3EE;
$font-color: #FFFFFF;

//Backgrounds
$background-page: $first-color;
$background-card-red: $second-color;
$background-card-blue: $third-color;

//Measures
$global-font-size: 16px;
$title-font: 'Poppins', sans-serif;
$title-page: 'Roboto', sans-serif;
